#presentation .word-bg{
    background-color: var(--light-green);
}

.word-bold{
    color: var(--main-green);
}

.about h1{
    color: var(--light-green);
    font-size: 4em;
    font-weight: bold;
}

@media(max-width:767px){
    .presentation-bloc,
    .about{
        width: 100%;
        flex-wrap: wrap;
        gap: 1em;
        align-items: center;
    }
    .about .about-bloc{
        width: 46%;
        background-color: var(--light-gray);
        padding: 2em 0;
    }
}
@media(min-width:768px){
    .presentation-bloc,
    .about{
        width: 60%;
        align-items: start;
    }

    .about-bloc{
        padding: 0 5em;
    }

    .with-border-right{
        border-right: 0.1em solid var(--light-gray);
    }
}