@media(max-width:767px) {
    .version-web {
        display: none;
    }

    .version-responsive {
        display: flex;
        background: none;
    }

    .box {
        position: absolute;
        right: 0;
    }

    ul.custom-nav {
        counter-reset: item;
    }
    
    ul.custom-nav li{
        display: flex;
        gap: 0.5em;
    }

    ul.custom-nav li:before {
        content: counter(item, decimal-leading-zero) ". ";
        counter-increment: item;
        font-weight: bold;
    }

    .social-medias{
        width: 100%;
    }

    .photo-contact{
        width: 3em;
    }

    i.contact-icon{
        margin-right: 0;
        top: 0.2em;
        right: -0.6em;
        padding: 0.3em;
        background-color: green;
    }
}

@media(min-width:768px) {
    .version-responsive {
        display: none;
    }
}