section#about{
    background-color: var(--main-black);
    padding-top: 2rem;
    padding-bottom: 0;
    position: relative;
}
section#about, a{
    color: white;
}

.photo{
    width: 25em;
    position: absolute;
    bottom: 0;
    right: 6em;
}

@media(min-width:1200px){
    .photo{
        width: 35em;
        right: 14em;
    }
}

@media(max-width:767px) {
    .photo{
        display: none;
    }
  }