.mainTimeline {
    padding-top: 2rem;
    background-color: var(--light-gray);
}

.timeline{
    width: 100%;
}

.timeline_header{
    background-color: var(--main-black);
    height: 20em;
    padding: 4rem 15rem;
    color: var(--light-gray);
}

.btn-back{
    cursor: pointer;
}