.btn-hard-skill,
.btn-soft-skill{
    padding: 0.2em 0;
}

.btn-hard-skill{
    background: none;
    border: 0.1em solid white;
}

.btn-soft-skill{
    background-color: var(--main-green);
    display: flex;
    gap: 0.4em;
}

.icon-skills{
    width: 1.5em;
    margin: 0.3rem 0.5rem;
}