.buttonTop {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    padding: 0.4rem 0.6rem;
    background-color: #000;
    opacity: 0.4;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.buttonTop a,
i {
    color: white;
}