.card_project{
    width: 25em;
    height: 18em;
}
.title{
    font-weight: bold;
}

.logo_card_project{
    width: 2em;
}

img.miniature{
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2;
}

.card_tag{
    background-color: #DCDCDC;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
}