nav{
    background-color: #F2F2F2;
    font-weight: 500;
    padding: 0 5rem;
    color: var(--main-black);
}
ol { 
    counter-reset: item;
    list-style-type: none;
    margin: 0;
}

.main-nav li:before { 
    content: counter(item, decimal-leading-zero) ". "; 
    counter-increment: item;
}

.main-nav li a{
    color: var(--main-black);
}

@media(max-width:767px) {
    nav.main-nav {
        display: none;
    }
}

@media(min-width:768px) {
    nav.main-nav {
        display: flex;
    }
}

@media(min-width:1200px){
    nav{
        padding: 0 15rem;
    }
}
