@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --main-black: #191919;
  --main-green: #676952;
  --light-green: #b7b9a6;
  --light-gray: #F2F2F2;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

section {
  height: 100%;
  min-height: 100vh;
  padding: 8rem 5rem;
}

button.btn-rounded {
  border: 0.5px solid white;
  border-radius: 50px;
}

.word-bg{
  background-color: #ffffff60;
  border-radius: 5px;
}
.word-bg img{
  width: 1em;
}

@media(min-width:1200px) {
  section {
    padding: 8rem 15rem;
  }
}

@media(max-width:767px) {
  section {
    padding:2rem;
  }
}